<aside class="main-sidebar">
    <section class="sidebar">
        
        <ul class="sidebar-menu">
            <li class="header">Opciones de navegación</li>
            <li class="treeview">

                <a href="#/editarperfil">
                    <i class="fa fa-child"></i>
                    <span>Menor</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/"><i class="fa fa-circle-o"></i>Crear</a></li>
                    <li><a href="#/menor/Listar"><i class="fa fa-circle-o"></i>Listar</a></li>
                </ul>
            </li>
            
        </ul>
    </section>
</aside>