<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#Empleado/Listar"><i class="fa fa-user"></i> Empleados</a></li>
        <li class="active">Registro</li>
    </ol>
</section>

<section class="content" ng-controller="empleadoController" ng-init="listarNiveles(); listarCargos();">
    <h3 style="text-align: center;"><b>Registro de empleado</b></h3>
    <hr>
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10">
          <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" ng-submit="registrar();">
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group" style="margin-right:0%;">
                      <label for="nombre">Nombre(s)</label>
                      <input class="form-control" type="text" required placeholder="Nombre(s) del empleado" ng-model="nombre">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="cedula">Cedula</label>
                      <input class="form-control" type="number" min="0" required placeholder="Cedula del empleado" ng-model="cedula">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="telefono">Teléfono</label>
                      <input class="form-control" type="number" required placeholder="Teléfono del empleado" ng-model="telefono">
                  </div>
                 <div class="form-group" style="margin-right:0%;">
                      <label for="cedula">Profesión</label>
                      <input class="form-control" type="text" required placeholder="Profesión del empleado" ng-model="profesion">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="nivel">Nivel Academico</label>
                      <select ng-model="nivel" class="form-control col-md-7 col-xs-12" required>
                        <option selected disabled  value="">Seleccione un nivel academico</option>
                        <option ng-repeat="obj in niveles" value="{{obj.id_nivel}}" >{{obj.nivel}}</option>
                      </select>
                  </div>
                  
              </div>
              <div class="col-md-6">
                  <div class="form-group" style="margin-right:0%;">
                      <label for="apellidos">Apellidos</label>
                      <input class="form-control" type="text" required placeholder="Apellidos del empleado" ng-model="apellidos">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="fecha">Fecha de nacimiento</label>
                      <input class="form-control" type="date" required placeholder="Fecha de nacimiento del empleado" ng-model="fecha">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="correo">Correo electrónico</label>
                      <input class="form-control" type="email" required placeholder="Correo electrónico del empleado" ng-model="correo">
                  </div>
                  <div class="form-group" style="margin-right:0%; margin-bottom:20px;">
                      <label for="direccion">Dirección del empleado</label>
                      <input class="form-control" type="text" required placeholder="Direccion del empleado" ng-model="direccion">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="cargo">Cargo</label>
                      <select ng-model="cargo" class="form-control col-md-7 col-xs-12" required>
                        <option selected disabled  value="">Seleccione un cargo</option>
                        <option ng-repeat=" obj in cargos" value="{{obj.id_cargo}}" >{{obj.nombre}}</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label ng-class='{"classError": colorText=="error", "classSuccess":colorText=="success"}'>{{msj}}</label>
            </div>
            <div class="col-md-2">
              <input type="button" class="btn btn-primary btn-block btn-flat" ng-click="limpiar();" value="Limpiar"/>
            </div>
            <div class="col-md-2">
              <button class="btn btn-success btn-block btn-flat" type="submit">
                Registrar
              </button>
            </div>
          </div>
          </form>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>