<section class="content-header">
    <h1>
        
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/Nivel_Academico/Listar"><i class="fa fa-tasks"></i> Nivel Academico</a></li>
        <li class="active">Registro</li>
    </ol>
</section>

<section class="content" ng-controller="nivelAcademicoController" ng-init="">
    <h3 style="text-align: center;"><b>Registro de Nivel Academico</b></h3>
    <hr>
    <div class="row">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-9">
          <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" ng-submit="registrar();">
            <div class="row">
           
          
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="descripcion">Nombre</label>
                <textarea class="form-control" style="max-width:100%; width:100%; min-height:20px" type="text" required  ng-model="nombre"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
               <label ng-class='{"classError": colorText=="error", "classSuccess":colorText=="success"}'>{{msj}}</label>
            </div>
            <div class="col-md-2">
              <input type="button" class="btn btn-primary btn-block btn-flat" ng-click="limpiar();" value="Cancelar"/>
            </div>
            <div class="col-md-2">
              <button class="btn btn-success btn-block btn-flat" type="submit">
                Registrar
              </button>
            </div>
          </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>