<div ng-controller="gradoController">
<section class="content-header">
    <h1>
       
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/Grado/Listar"><i class="fa  fa-tasks"></i> Grado</a></li>
        <li class="active">Listado</li>
    </ol>
</section>
<div ng-init="listarGrados();">
<section class="content">
    <h3 style="text-align: center;"><b>Listado de Grado</b></h3>
    <hr>
       <div class="row">
         <div class="col-md-8">
             <label style="margin-left:14%;" ng-class='{"classError": colorText=="error", "classSuccess":colorText=="success"}'>   {{msj}}</label>
         </div>
            <div class="col-md-3">
              <div class="form-group" style="margin-right: 2%;">

                <input class="form-control  buscador"  type="text" required  ng-model="searchText" placeholder="Buscar..." />
              </div>
            </div>
          
          </div>
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-12">
            <table class="table table-striped table-condensed table-hover" style="text-align: center;">
                <thead>
                    <tr>
                        <th class="seleccionable" style="text-align: center;">
                            <a ng-click="">#</a>
                        </th>
                         <th class="seleccionable" style="text-align: center;">
                            <a ng-click="">Nombre</a>
                        </th>
                      
                       
                        <th class="seleccionable" style="text-align: center;">
                            <a ng-click="">Acciones</a>                          
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="seleccionable" ng-repeat="obj in cargos | filter:searchText">
                        <th style="text-align: center;">{{$index+1}}</th>
                        <td>{{obj.nombre}}</td>
                     
                        <td>
                          <div id="acciones-row">
                                <ul class="acciones-button" style="list-style: none;  display: flex;flex-direction: row;
                                                                   justify-content: space-around; width: 20%; margin: auto;">
                                    <li data-toggle="modal" data-target="#myModal" ng-click="datos(obj);">
                                      <a role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    </li>

                                     <li ng-click="eliminar(obj)">
                                      <a role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
              </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modificar datos del grado</h4>
      </div>
      <div class="modal-body">
        <section class="content">
    
    
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-12" style="display: flex; justify-content: center; flex-direction: column;">
          <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" >
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-3 col-xs-12" for="last-name">Nombre <span class="required">*</span></label>
              <div class="col-md-9 col-sm-6 col-xs-12">
                 <textarea class="form-control" style="max-width:100%; width:100%; min-height:100px" type="text" required  ng-model="nombre"></textarea>
              </div>
            </div>
         
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-9 col-sm-6 col-xs-12 col-md-offset-2">
               <input type="submit" ng-click="editar();" class="btn btn-success" value="Actualizar">
                <input type="button" class="btn btn-primary" data-dismiss="modal"  value="Cancelar"/>
                 
                  <label ng-class='{"classError": colorText=="error", "classSuccess":colorText=="success"}'>   {{msj}}</label>
                 
              </div>
              
            </div>

          </form>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
      </div>
      
    </div>
  </div>
</div>
</div>
</div>