<div class="" ng-controller="CtlRevision" ng-init="cargarUsuario()">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Crear Revision</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <div class="form-horizontal form-label-left" ng-init="cargarArticulo()">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Descripcion Articulo <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea id="first-name" required="required" ng-model="articulo.descripcion" class="form-control col-md-7 col-xs-12"  readonly=”readonly”></textarea>
              </div>
            </div>   
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Articulo <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <h4 ng-if="articulo.tipo == 'pdf'"><a href="articulos/{{articulo.url}}" download="Articulo.pdf">Descargar Articulo</a></h4>
                <h4 ng-if="articulo.tipo == 'zip'"><a href="articulos/{{articulo.url}}" download="Articulo.zip">Descargar Articulo</a></h4>
              </div>
            </div> 
            <form id="formRevision" name="formRevision" data-parsley-validate>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Descripcion Revision <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea id="first-name" required="required" ng-model="revision.descripcion" class="form-control col-md-7 col-xs-12"></textarea>
                </div>
              </div>      
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Estado Revision<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select class="form-control" id="selDepartamento" ng-model="revision.estado" ng-options="item for item in estados" required>                
                    <option value="" disabled selected>Seleccione una Opcion</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Archivo<span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">               
                  <button type="file" ngf-select="actualizarArchivo()" ng-model="revision.file" accept=".pdf,.zip" ngf-max-height="1000" ngf-max-size="50MB">Seleccione el Archivo</button>                
                  <div style="font:smaller">File: {{revision.file.name}}</div>
                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="button" value="Cancel" class="btn btn-primary">
                  <button type="button" class="btn btn-success btn-s" ng-click="crearRevision(formRevision.$valid,'CREAR')">
                    <span class="glyphicon glyphicon-upload"></span> Guardar
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

